<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form  #form="ngForm" (ngSubmit)="register(form)" class="regForm">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding class="divReg">
            <img src="/assets/icon/logo.png" class="imageHome">
            <h3 class="reg-header">Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-select class="select-item" name="membership" placeholder="Select Membership Type" ngModel required>
                <ion-select-option value="farmer">Farmer</ion-select-option>
                <ion-select-option value="customer">Customer</ion-select-option>
                <ion-select-option value="processingcompany">Processing Company</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="phone" type="number" placeholder="Phone Number" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-select class="select-item" name="location" placeholder="Select Location" ngModel>
                <ion-select-option value="Nairobi">Nairobi</ion-select-option>
                <ion-select-option value="Nakuru">Nakuru</ion-select-option>
                <ion-select-option value="Eldoret">Eldoret</ion-select-option>
                <ion-select-option value="Tana River">Tana River</ion-select-option>
                <ion-select-option value="Lamu">Lamu</ion-select-option>
                <ion-select-option value="Taita Taveta">Taita Taveta</ion-select-option>
                <ion-select-option value="Garissa">Garissa</ion-select-option>
                <ion-select-option value="Wajir">Wajir</ion-select-option>
                <ion-select-option value="Mandera">Mandera</ion-select-option>
                <ion-select-option value="Meru">Meru</ion-select-option>
                <ion-select-option value="Marsabit">Marsabit</ion-select-option>
                <ion-select-option value="Kitui">Kitui</ion-select-option>
                <ion-select-option value="Machakos">Machakos</ion-select-option>
                <ion-select-option value="Makueni">Makueni</ion-select-option>
                <ion-select-option value="Embu">Embu</ion-select-option>
                <ion-select-option value="Tharaka Nithi">Tharaka Nithi</ion-select-option>
                <ion-select-option value="Nyandarua">Nyandarua</ion-select-option>
                <ion-select-option value="Kirinyaga">Kirinyaga</ion-select-option>
                <ion-select-option value="Nyeri">Nyeri</ion-select-option>
                <ion-select-option value="West Pokot">West Pokot</ion-select-option>
                <ion-select-option value="Samburu">Samburu</ion-select-option>
                <ion-select-option value="Uasin Gishu">Uasin Gishu</ion-select-option>
                <ion-select-option value="Kwale">Kwale</ion-select-option>
                <ion-select-option value="Kilifi">Kilifi</ion-select-option>
                <ion-select-option value="Eldoret">Elgeyo Marakwet</ion-select-option>
                <ion-select-option value="Nairobi">Nandi</ion-select-option>
                <ion-select-option value="Nakuru">Baringo</ion-select-option>
                <ion-select-option value="Meru">Laikipia</ion-select-option>
                <ion-select-option value="Nakuru">Nakuru</ion-select-option>
                <ion-select-option value="Meru">Narok</ion-select-option>
                <ion-select-option value="Nairobi">Kajiando</ion-select-option>
                <ion-select-option value="Nakuru">Kericho</ion-select-option>
                <ion-select-option value="Meru">Bomet</ion-select-option>
                <ion-select-option value="Nairobi">Kakamega</ion-select-option>
                <ion-select-option value="Nakuru">Vihiga</ion-select-option>
                <ion-select-option value="Eldoret">Bungoma</ion-select-option>
                <ion-select-option value="Busia">Busia</ion-select-option>
                <ion-select-option value="Nakuru">Siaya</ion-select-option>
                <ion-select-option value="kisumu">Kisumu</ion-select-option>
                <ion-select-option value="Homabay">Homabay</ion-select-option>
                <ion-select-option value="Migori">Migori</ion-select-option>
                <ion-select-option value="Kisii">Kisii</ion-select-option>
                <ion-select-option value="Nairobi">Nyamira</ion-select-option>

              </ion-select>
            </ion-item>
            <ion-item>
              <ion-select class="select-item" name="product" placeholder="Select Product Category" ngModel>
                <ion-select-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Confirm Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block"><b>Register</b></ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div padding class="reg-header">
          Already have an account, please <a routerLink="/login" class="aLink">
          login</a>
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
