ion-item{
  --background: #f5f5f5;
  --color: #444;
}

ion-button{
  --background: #e81414;
  --color: #fff;
  opacity: 1;
}

.reg-header{
  margin: auto;
  text-align: center;
  padding: 10px;
}

.divReg{
  text-align: center;
}

.aLink{
  color: dodgerblue;
}

.imageHome {
  width: 150px;
  height: 100px;
  margin: auto;
}

.select-item {
  padding-inline-start: 0px;
  max-width: 100% !important;
}

a{
  color: #fff;
}

.regForm{
  width: 80%;
  margin: auto;
}
