<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Processing Company</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
          [(ngModel)]="searchCompany"
          (ionChange)="setFilteredCompanies()"
          placeholder="Search By Name"
  ></ion-searchbar>
  <ion-searchbar
          [(ngModel)]="searchLocationCompany"
          (ionChange)="setLocationFilteredCompanies()"
          placeholder="Search By Location"
  ></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let company of companies">
      <ion-card class="card" (click)="openCompany(company.id)">
        <img *ngIf="company.image != ''" src="{{company.image}}">
        <img *ngIf="company.image == ''" src="/assets/images/company.png">
        <h1 orange>{{ company.name }}</h1>
        <h1 orange>{{ company.category }}</h1>
        <h1>{{ company.location }}</h1>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

